// Navbar styles
.navbar {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: $s__navbar-height;
  transition: max-height 250ms;
  background-color: $c__green;

  .nav__hamburger {
    display: none;
  }

  .navbar__link--wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: center;

    .navbar__link {
      text-decoration: none;
      color: $c__grey--light;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $c__black;
      }
    }
  }
  
  // handle navbar change
  @media (max-width: $s__breakpoint--collapse) {
    .navbar__link--wrapper {
      height: $s__navbar-height;

      .navbar__link {
        display: none;
      }
    }
    
    &.navbar--open {
      flex-direction: column;
      max-height: $s__navbar-height * 6;

      .navbar__link {
        display: block;
      }
    }
  }
  
  // Done with the help of Julia! github.com/jubearsun
  // handle hamburger appearance
  @media (max-width: $s__breakpoint--collapse) {
    .nav__hamburger {
      display: inline-block;
      height: $s__hamburger-height;
      width: 34px;
      margin: 0 auto;
      margin-top: ($s__navbar-height - $s__hamburger-height) / 2;

      .hamburger__bar {
        width: 100%;
        height: 2px;
        background: $c__red;

        &.bar--1 {
          margin-top: 4px
        }

        &.bar--2 {
          margin-top: 14px;
        }
      }
    }
  }
}
