// About
.page--about {
	margin-left: 50px;
	margin-right: 50px;

	.section__title {
		text-align: center;
	}



	.organizations {
		
	}


	.grid {
		.col {
			height: 300px;
			width: 32%;

			img {
				height: 100%;
				width: 100%;
			}
		}
	}

}