// About
.page--about {
	margin-left: 50px;
	margin-right: 50px;

	.section__title {
		text-align: center;
	}

	.table {
		width: 100%;
		height: 280px;

		h4 {
			padding: 0px;
			margin: 0px;
		}

		img {
			height: 100%;
			width: 30%;
			float: left;
			margin-right: 1%;
		}

		.desc {
			text-align: left;
			width: 100%;
			height: 280px;
			margin-bottom: 1%;
			 @media (max-width:$s__breakpoint--small) {
    		text-align:center;
    		float: break;
    	}
		}
	}	
}
