//Contact
.page--contact {

  .contact__body {
    margin:20px auto;

    .contact__name {
      font-size:27px;
      color:teal;
      vertical-align:top;
      text-align: center;
      margin-bottom:40px;
    }

    a {
      text-decoration:none !important;
    }

    .contact__icons {
      text-align:center;
      margin-bottom:40px;

      .media__icon {
        font-size:200%;
        color:#C0C0C0;
        background:#000;
        width: 60px;
        height: 60px;
        padding-top:30px;
        border-radius: 50%;
        vertical-align: middle;
        margin:0 15px;
        line-height: 0px;

        &.fb {
          &:hover {
            color:#3b5998;
            transition:color 250ms;
            }
          }

          &.mail {
            &:hover {
              color:#551a8b;
              transition:color 250ms;
            }
          }
      }
    }
	}
}


  