//Contact 
.page--contact { 
	margin: auto;
	width: 100%;

	.contact--center {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		
		.media--icon{
	      		background: $c__grey--light;
	      		opacity: 80%;
	      		border-radius: 20px;
	      		padding: 0px 20px 0px 20px;
	  }
	}
}

