//Contact
.page--contact {
    a {
      text-decoration:none !important;
    }

    .media__icon {
      font-size:200%;
      color:#C0C0C0;
      padding-top:10px;
      padding-bottom:10px;

      &.fb {
        margin-right:30px;

        &:hover {
          color:#3b5998;
          transition:color 250ms;
        }
      }

      &.mail {
        &:hover {
          color:#551a8b;
          transition:color 250ms;
        }
      }

	}
}

